@font-face {
    font-family: 'MODENINE';
    src: url('../fonts/MODENINE.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*color1: #973bc3;*/
    --bg-color: #d0cefc;
    --bg-header: #7b5b9c;
    --text-color: #d0cefc;
    /*color3: #291035;
    --bg-header: #7b5b9c;
    color5: #a293c1;*/
}

html {
    box-sizing: border-box;
    content: '';
    background-color: var(--bg-color);
}

body {
    max-width: 100%;
    max-height: 100%;
}

header {
    display: block;
    width: 100%;
    height: 5vh;
    background-color: var(--bg-header);
}

.navegator {
    list-style: none;
}

.navegator nav {
    float: right;
}

.navegator nav ul li {
    list-style: none;
    float: left;
    /*padding-left: 40px;*/
    margin: 12px 25px 0 20px;

}

.navegator nav ul li a {
    font-family: 'MODENINE';
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}